/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/

.col_one_fourth:nth-child(4n){
    margin-right: 0!important;
    clear: right;
}


.col-sm-6:nth-child(2n){
	@media (max-width: 767px){
		clear: both;
	}
}