/*-----------------------------------------------------------------------------

-	Revolution Slider 5.0 Layer Style Settings -

Screen Stylesheet

version:   	5.0.0
date:      	18/03/15
author:		themepunch
email:     	info@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.tp-caption.boxshadow,.boxshadow
{		
	box-shadow:0 0 20px rgba(0,0,0,0.5);
}

.tp-caption.black,.black
{
	color:#000;
	text-shadow:none;
}


.tp-caption.ellipse70px,.ellipse70px
{
	background-color:rgba(0,0,0,0.14902);
	border-color:#222;
	border-radius:50px 50px 50px 50px;
	border-style:none;
	border-width:0;
	cursor:pointer;
	line-height:1px;
	min-height:70px;
	min-width:70px;
	text-decoration:none;
}

.tp-caption.arrowicon,.arrowicon
{
	border-color:#222;
	border-style:none;
	border-width:0;
	line-height:1px;
}





.tp-caption.ContentZoom-SmallTitle,
.ContentZoom-SmallTitle {
    color: rgba(41, 46, 49, 1.00);
    font-size: 33px;
    line-height: 45px;
    font-weight: 600;
    font-style: normal;
    font-family: Raleway;
    padding: 0 0 0 0px;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: left
}
.tp-caption.ContentZoom-SmallSubtitle,
.ContentZoom-SmallSubtitle {
    color: rgba(111, 124, 130, 1.00);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    font-style: normal;
    font-family: Raleway;
    padding: 0 0 0 0px;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: left
}
.tp-caption.ContentZoom-SmallIcon,
.ContentZoom-SmallIcon {
    color: rgba(41, 46, 49, 1.00);
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    font-style: normal;
    font-family: Raleway;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: left
}
.tp-caption.ContentZoom-SmallIcon:hover,
.ContentZoom-SmallIcon:hover {
    color: rgba(111, 124, 130, 1.00);
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px
}
.tp-caption.ContentZoom-DetailTitle,
.ContentZoom-DetailTitle {
    color: rgba(41, 46, 49, 1.00);
    font-size: 70px;
    line-height: 70px;
    font-weight: 500;
    font-style: normal;
    font-family: Raleway;
    padding: 0 0 0 0px;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: left
}
.tp-caption.ContentZoom-DetailSubTitle,
.ContentZoom-DetailSubTitle {
    color: rgba(111, 124, 130, 1.00);
    font-size: 25px;
    line-height: 25px;
    font-weight: 500;
    font-style: normal;
    font-family: Raleway;
    padding: 0 0 0 0px;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: left
}
.tp-caption.ContentZoom-DetailContent,
.ContentZoom-DetailContent {
    color: rgba(111, 124, 130, 1.00);
    font-size: 17px;
    line-height: 28px;
    font-weight: 500;
    font-style: normal;
    font-family: Raleway;
    padding: 0 0 0 0px;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: left
}
.tp-caption.ContentZoom-Button,
.ContentZoom-Button {
    color: rgba(41, 46, 49, 1.00);
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
    font-style: normal;
    font-family: Raleway;
    padding: 15px 50px 15px 50px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(41, 46, 49, 0.50);
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 0px 0px 0px;
    text-align: left;
    letter-spacing: 1px
}
.tp-caption.ContentZoom-Button:hover,
.ContentZoom-Button:hover {
    color: rgba(255, 255, 255, 1.00);
    text-decoration: none;
    background-color: rgba(41, 46, 49, 1.00);
    border-color: rgba(41, 46, 49, 1.00);
    border-style: solid;
    border-width: 1px;
    border-radius: 0px 0px 0px 0px
}
.tp-caption.ContentZoom-ButtonClose,
.ContentZoom-ButtonClose {
    color: rgba(41, 46, 49, 1.00);
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
    font-style: normal;
    font-family: Raleway;
    padding: 14px 14px 14px 16px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(41, 46, 49, 0.50);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px 30px 30px 30px;
    text-align: left;
    letter-spacing: 1px
}
.tp-caption.ContentZoom-ButtonClose:hover,
.ContentZoom-ButtonClose:hover {
    color: rgba(255, 255, 255, 1.00);
    text-decoration: none;
    background-color: rgba(41, 46, 49, 1.00);
    border-color: rgba(41, 46, 49, 1.00);
    border-style: solid;
    border-width: 1px;
    border-radius: 30px 30px 30px 30px
}

@media only screen and (max-width: 767px) {
}

/* media queries */

@media only screen and (max-width: 960px) {} @media only screen and (max-width: 768px) {}
@media only screen and (max-width: 767px) {
}

.rev_slider {
    overflow: hidden;
}

    .rev_slider {
        overflow: hidden;
    }
    @media only screen and (max-width: 767px) {
    }
    @media only screen and (max-width: 480px) {
    }

    .tp-caption.ParallaxWebsite-FooterItem,
    .ParallaxWebsite-FooterItem {
        color: rgba(255, 255, 255, 0.50);
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        font-style: normal;
        font-family: Lato;
        padding: 0 0 0 0px;
        text-decoration: none;
        text-align: left;
        background-color: transparent;
        border-color: transparent;
        border-style: none;
        border-width: 0px;
        border-radius: 0 0 0 0px
    }
    .tp-caption.ParallaxWebsite-FooterItem:hover,
    .ParallaxWebsite-FooterItem:hover {
        color: rgba(255, 255, 255, 1.00);
        text-decoration: none;
        background-color: transparent;
        border-color: transparent;
        border-style: none;
        border-width: 0px;
        border-radius: 0 0 0 0px;
        cursor: pointer
    }